@import play.api.libs.json._
@import play.filters.csrf.CSRF
@(
    textEditorId: String,
    putRoute: Call
)(implicit request: MessagesRequestHeader)

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Text Editor</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/textEditor.css")">
</head>
<body>

<div class="editor-buttons">
    <select id="headingSelect" onchange="applyHeading(this.value)">
        <option value="normal">Normal</option>
        <option value="h1">Heading 1</option>
        <option value="h2">Heading 2</option>
        <option value="h3">Heading 3</option>
    </select>

    <button id="boldButton" onclick="toggleStyle('bold')">B</button>
    <button id="italicButton" onclick="toggleStyle('italic')">I</button>
    <button id="underlineButton" onclick="toggleStyle('underline')">U</button>
</div>

<div id="@textEditorId" class="editor" contentEditable="true">
</div>

<div class="actions-section">
    <hr>
    <div class="action-buttons">
        <button class="save-text-edit" id="save@textEditorId">Save Changes</button>
        <button class="cancel-text-edit">Cancel</button>
    </div>
</div>

<script>
  function applyHeading(heading) {
    const selection = window.getSelection();
    const range = selection.getRangeAt(0);
    const headingElement = document.createElement(heading);
    headingElement.appendChild(range.extractContents());
    range.insertNode(headingElement);
  }

  const buttonStates = {
    boldButton: false,
    italicButton: false,
    underlineButton: false
  };

  function toggleStyle(style) {
    document.execCommand(style, false, null);
    const buttonId = `${style}Button`;

    if (!buttonStates[buttonId]) {
      document.getElementById(buttonId).style.color = "#187bcd";
    } else {
      document.getElementById(buttonId).style.color = "#3A3B3C";
    }

    buttonStates[buttonId] = !buttonStates[buttonId];
  }
</script>
<script>
  document.getElementById('save@textEditorId').addEventListener('click', function() {
    const csrfToken = "@CSRF.getToken(request).map(_.value).getOrElse("")";
    const updatedContent = document.getElementById("@textEditorId").innerHTML; // Use @textEditorId here
    const data = {
      updateText: updatedContent
    };

    var xhr = new XMLHttpRequest();
    xhr.open('PUT', "@putRoute", true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('Csrf-Token', csrfToken);
    xhr.onreadystatechange = function() {
      // If the request completed successfully, handle it here
      if (xhr.readyState === 4 && xhr.status >= 200 && xhr.status < 300) {
        console.log('Data saved successfully.');
        // If there was a redirect, navigate the browser
        if (xhr.responseURL !== "@putRoute") {
          window.location.href = xhr.responseURL;
        }
      } else if (xhr.readyState === 4) {
        console.error('Failed to save data.');
      }
    };
    xhr.send(JSON.stringify(data));

  });
</script>
</body>
</html>
