@import play.api.libs.json._
@import play.filters.csrf.CSRF
@(
    textEditorId: String,
    putRoute: String,
    jobId: Long
)(implicit request: MessagesRequestHeader)

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Text Editor</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/textEditor.css")">
</head>
<body>

<div class="editor-buttons">
    <select id="headingSelect" onchange="applyHeading(this.value)">
        <option value="normal">Normal</option>
        <option value="h1">Heading 1</option>
        <option value="h2">Heading 2</option>
        <option value="h3">Heading 3</option>
    </select>

    <button id="boldButton" onclick="toggleStyle('bold')">B</button>
    <button id="italicButton" onclick="toggleStyle('italic')">I</button>
    <button id="underlineButton" onclick="toggleStyle('underline')">U</button>
</div>

<div id="@textEditorId" class="editor" contentEditable="true">
</div>

<div class="actions-section">
    <hr>
    <div class="action-buttons">
        <button class="save-text-edit" id="save@textEditorId">Save Changes</button>
        <button class="cancel-text-edit">Cancel</button>
    </div>
</div>

<script>
  function applyHeading(heading) {
    const selection = window.getSelection();
    const range = selection.getRangeAt(0);
    const headingElement = document.createElement(heading);
    headingElement.appendChild(range.extractContents());
    range.insertNode(headingElement);
  }

  const buttonStates = {
    boldButton: false,
    italicButton: false,
    underlineButton: false
  };

  function toggleStyle(style) {
    document.execCommand(style, false, null);
    const buttonId = `${style}Button`;

    if (!buttonStates[buttonId]) {
      document.getElementById(buttonId).style.color = "#187bcd";
    } else {
      document.getElementById(buttonId).style.color = "#3A3B3C";
    }

    buttonStates[buttonId] = !buttonStates[buttonId];
  }
</script>
<script>
  document.getElementById('save@textEditorId').addEventListener('click', function() {
    const csrfToken = "@CSRF.getToken(request).map(_.value).getOrElse("")";
    const updatedContent = document.getElementById("@textEditorId").innerHTML; // Use @textEditorId here
    const data = {
      jobId: @jobId,
      updateText: updatedContent
    };

    console.log('@putRoute');

    fetch("@putRoute", {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json',
        'Csrf-Token': csrfToken
      },
      body: JSON.stringify(data),
    })
      .then(response => {
        if (response.ok) {
          console.log('Data saved successfully.');
        } else {
          console.error('Failed to save data.');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
  });
</script>
</body>
</html>
