/* Job Feed Pages */

/* Search Button */

#search-tiles-icon {
    width: 25px;
    height: 25px;
}

/* Page Layout */

.add-job-page {
    max-width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
}

#job-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% - 10px), 1fr));
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
}

#job-tiles-view-options {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0 25px 0;
}

/* Job URL Input */

.job-url-input {
    padding: 16px 0 0 0;
}

/* Job URL Form */

#job-post-url-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#job-post-url-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 50px;
}

#final-add-job-button {
    align-self: flex-start;
    margin-top: 10px;
}


/* Job Details Form */

.job-details-form-section-title {
    font-weight: bold;
    font-size: 10px;
    color: black;
    text-indent: 25px;
}

#job-description-form {
    font-size: 12px;
}

#job-description-form-first-row,
#job-description-form-second-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 40px;
}

#job-description-company,
#job-description-title,
#job-description-status,
#job-description-interview-round,
#job-description-notes {
    flex: 1;
    margin-right: 10px;
}

#job-description-form input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
}

#job-description-company,
#job-description-title {
    width: 96%;
    height: 20px;
    font-size: 12px;
}

#job-description-notes {
    width: 96%;
    height: 150px;
    margin-bottom: 20px;
}

#job-description-interview-round {
    width: 40px;
}

/* Job Tiles */

.job-tile {
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  position: relative;
  height: 275px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #D3D3D3;
}

.job-tile-header {
    margin-bottom: 45px;
}

.job-tile-subheader {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 600px) {
    #job-tiles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    #job-tiles {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    #job-tiles {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Job Metadata */

.job-company {
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.job-title {
    font-size: 13px;
}

.meta-title {
    padding-right: 3px;
    font-weight: bold;
}

.metadata {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 10px;
}

.metadata-tag {
    width: 20px;
    height: 10px;
    margin-right: 5px;
    border-radius: 10px;
}

.metadata-icon {
    height: 13px;
    width: 13px;
    margin-right: 13px;
}

.star-icon {
    height: 18px;
    width: 18px;
}

.starred {
    background-color: #E5F3FD;
}

/* Buttons */

.add-job-button a, #final-save-job-button, #remove-job-description-button {
    display: inline-block;
    text-decoration: none;
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.5em;
    transition: background 0.3s;
}

#final-save-job-button, #remove-job-description-button {
    background-color: #0077B5;
    color: white;
}

.job-url-input button {
    background-color: #0077B5;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s;
}

#remove-job-description-button {
    font-weight: 500;
}

.view-job-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #DEDEDE;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* Search Options */

#toggle-starred-view, .search-button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 13px 0 0 20px;
    font-size: 12px;
    font-weight: 600;
    transition: background-color 0.2s;
}

#toggle-starred-view {
    background-color: #FFFFFF;
}

.search-button {
    background-color: #D4D4D4;
}

.toggle-star-icon {
    height: 14px;
    width: 14px;
}

#job-search-container {
    display: flex;
    justify-content: right;
}

.search-dropdown {
    position: relative;
    display: inline-block;
}

.search-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ECECEC;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-left: 20px;
    min-width: 200px;
    z-index: 1;
}

.search-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.show {
    display: block;
}

.down-arrow {
    height: 15px;
    width: 15px;
    margin-left: 5px;
}

/* Hover Effects */

.job-tile:hover {
    border: 1px solid #3A3B3C;
}

.job-url-input button:hover,
.add-job-button a:hover,
#final-save-job-button:hover,
#remove-job-description-button:hover {
    background-color: #2E5984;
    font-weight: bold;
}

.job-view-subtitle:hover {
    color: #187bcd;
    border-bottom: 1px solid #187bcd;
}

.star-icon:hover {
    background-color: #E5F3FD;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #808080;
}

.pagination-item {
    margin: 0 5px;
    padding: 5px 10px;
    height: 16px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}

.pagination-item.current {
    background-color: #7C8BDD;
    color: white;
}

.pagination-item:hover {
    background-color: #dddddd;
}

.pagination-arrow {
    margin-top: -4px;
    height: 30px;
    width: 30px;
}

/* Media Query */

@media (max-width: 600px) {
    .box {
        flex: 0 1 100%;
    }
}

.hidden {
  display: none;
}
