/* Job Feed Pages */

/* Sort Container */

#sort-by-form {
  display: flex;
  justify-content: center;
  align-items: right;
  margin-left: auto;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#sort-by-form:hover {
  background-color: #cccccc;
}

/* Sort By Form */

#sort-by-form {
    display: block;
    margin-left: auto;
    font-size: 14px;
    border: none;
}

/* Search Button */

#search-tiles-icon {
    width: 25px;
    height: 25px;
}

/* Page Layout */

.add-job-page {
    max-width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
}

.job-tiles {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#job-tiles-view-options {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0 25px 0;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 594px) {
    .job-tiles {
        justify-content: center;
    }
}

/* Job URL Input */

.job-url-input {
    padding: 16px 0 0 0;
}

/* Job URL Form */

#job-post-url-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#job-post-url-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 50px;
}

#final-add-job-button {
    align-self: flex-start;
    margin-top: 10px;
}


/* Job Details Form */

.job-details-form-section-title {
    font-weight: bold;
    font-size: 10px;
    color: black;
    text-indent: 25px;
}

#job-description-form {
    font-size: 12px;
}

#job-description-form-first-row,
#job-description-form-second-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 40px;
}

#job-description-company,
#job-description-title,
#job-description-status,
#job-description-interview-round,
#job-description-notes {
    flex: 1;
    margin-right: 10px;
}

#job-description-form input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
}

#job-description-company,
#job-description-title {
    width: 96%;
    height: 20px;
    font-size: 12px;
}

#job-description-notes {
    width: 96%;
    height: 150px;
    margin-bottom: 20px;
}

#job-description-interview-round {
    width: 40px;
}

/* Job Tiles */

.job-tile {
  background-color: #fff;
  width: 210px;
  height: 170px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #D3D3D3;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  margin-bottom: 40px;
}

.job-tile-header {
    margin-bottom: 45px;
}

.job-tile-subheader {
    display: flex;
    justify-content: space-between;
}

/* Job Metadata */

.job-company {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.job-title {
    font-size: 13px;
}

.meta-title {
    padding-right: 3px;
    font-weight: bold;
}

.metadata {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 10px;
    margin-bottom: -20px;
}

.metadata-tag {
    width: 20px;
    height: 10px;
    margin-right: 5px;
    border-radius: 10px;
}

.metadata-icon {
    height: 13px;
    width: 13px;
    margin-right: 13px;
}

.star-icon {
    height: 18px;
    width: 18px;
}

.starred {
    background-color: #FFFBC8;
}

/* Buttons */

.add-job-button a, #final-save-job-button, #remove-job-description-button {
    display: inline-block;
    text-decoration: none;
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.5em;
    transition: background 0.3s;
}

#final-save-job-button, #remove-job-description-button {
    background-color: #0077B5;
    color: white;
}

.job-url-input button {
    background-color: #0077B5;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s;
}

#remove-job-description-button {
    font-weight: 500;
}

/* Starred View Button */

#starred-view-btn-container {
    display: flex;
    justify-content: flex-end;
}

#toggle-starred-view {
    background-color: white;
    border: 2px solid #ECECEC;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 13px 0 0 20px;
    font-size: 12px;
    font-weight: 600;
    height: 12px;
    transition: background-color 0.2s;
}

#toggle-starred-view:hover {
    background-color: #ECECEC;
}

#toggle-starred-view:active {
    opacity: 0.9;
}

.toggle-star-icon {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

/* Hover Effects */

.job-company:hover {
    text-decoration: underline;
}

.job-url-input button:hover,
.add-job-button a:hover,
#final-save-job-button:hover,
#remove-job-description-button:hover {
    background-color: #2E5984;
    font-weight: bold;
}

.job-view-subtitle:hover {
    color: #187bcd;
    border-bottom: 1px solid #187bcd;
}

.star-icon:hover {
    background-color: #FFFBC8;
}

/* Media Query */

@media (max-width: 600px) {
    .box {
        flex: 0 1 100%;
    }
}

.hidden {
  display: none;
}
