/* Arrows Container */

.arrows-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-left: 2vw;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ECECEC;
}

.arrow-box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30%;
    height: 65px;
    background-color: #F5F5F5;
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    text-indent: -2vw;
    color: #777777;
    line-height: 50px;
    padding: 0 10px;
    border: none;
}

.arrow-box

.arrow-box::before, .arrow-box::after {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.arrow-left-end {
    clip-path: polygon(0% 0%, 80% 0%, 90% 50%, 80% 100%, 0% 100%);
}

.arrow-right-left {
    clip-path: polygon(0% 0%, 80% 0%, 90% 50%, 80% 100%, 0% 100%, 10% 50%);
    margin-left: -2vw;
}

.arrow-right-end {
    clip-path: polygon(0% 0%, 80% 0%, 90% 50%, 80% 100%, 0% 100%, 10% 50%);
    margin-left: -2vw;
}

.count-display {
    margin-top: -40px;
}

.highlighted-count-arrow-box,
.count-arrow-box:hover {
    background-color: #FED8B1;
}

.count-arrow-box:hover {
    cursor: pointer;
}

/* Page Layout */

.add-job-page {
    max-width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
}

#job-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% - 10px), 1fr));
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);
    z-index: 1;
}

.modal-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 60%;
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover, .close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Forms */

.save-options {
    display: flex;
    justify-content: flex-end;
    margin-right: 3.5vw;
    margin-left: auto;
}

/* Add New Job Forms */

#job-url-modal {
    display: none;
    font-family: 'Inter', sans-serif;
}

#add-new-job-url-subtitle {
    margin-top: -16px;
    font-size: 12px;
    color: #3A3B3C;
}

#job-url-input {
    padding: 16px 0 0 0;
}

#job-post-url-form,
#job-description-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}

#job-post-url-form {
    align-items: center;
}

#job-description-form {
    align-items: flex-start;
}

#add-new-job-url-title,
#add-new-job-description-title,
#add-new-job-url-subtitle,
#job-url-input-label,
.job-details-label {
    margin-left: 2.5vw;
}

#add-new-job-url-title,
#add-new-job-description-title {
    font-size: 22px;
    font-weight: 900;
    color: #3b719f;
}

#job-url-input-label {
    margin-top: 30px;
    margin-bottom: -20px;
    font-size: 14px;
    font-weight: 900;
    color: #3A3B3C;
}

.job-details-label {
    margin-bottom: -5px;
}

#job-post-url-form input[type="text"],
#job-description-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 52vw;
    font-size: 14px;
}
#job-post-url-form input[type="text"] {
    margin-right: 5.5vw;
}

#job-description-form input[type="text"] {
    margin-left: -1.75vw;
    width: 50vw;
}

/* Job Tiles */

.job-tile {
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  position: relative;
  height: 300px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #D3D3D3;
}

.job-tile-header {
    margin-bottom: 45px;
}

.job-tile-subheader {
    display: flex;
    justify-content: space-between;
}

/* Job Metadata */

.job-company {
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.job-title {
    font-size: 13px;
}

.meta-title {
    padding-right: 3px;
    font-weight: bold;
}

.metadata {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 10px;
}

.metadata-tag {
    width: 20px;
    height: 10px;
    margin-right: 5px;
    border-radius: 10px;
}

.metadata-icon {
    height: 13px;
    width: 13px;
    margin-right: 13px;
}

.bookmark-icon {
    height: 18px;
    width: 18px;
}

.active-status {
    background-color: #C49E78;
}

/* Status Dropdown */

.status-btn {
    border: none;
    background-color: white;
}

#status-dropdown {
    display: block;
}

.status-btn:hover {
    background-color: #e9eff6;
    cursor: pointer;
}

/* Dropdown */

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    border: 1px solid #ccc;
    background-color: white;
    padding: 0 10px;
}

.dropdown-item:hover {
    background-color: #e0cbaf;
}

/* Buttons */

#final-add-job-button,
#final-save-job-button,
.cancel-add {
    margin-top: 10px;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
}

#final-add-job-button,
#final-save-job-button {
    background-color: #0077B5;
    color: white;
}

.cancel-add {
    margin-right: 5px;
    color: #0077B5;
}

.view-job-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #DEDEDE;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* Search Options */

#job-search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

#job-search-container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search, .search-container {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  height: 30px;
  font-size: 13px;
  text-indent: 10px;
}

#search {
    border: 1px solid #ccc;
    padding: 2px 2px 2px 2px;
    margin: auto 10px auto auto;
    width: 45vw;
}

.search-container {
    border: none;
    width: 100%;
}

select {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 12vw;
    background-color: #f0f0f0;
    color: #333;
    appearance: none;
    background-image: url('/assets/images/authenticated.user/feed/search/downarrow.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 5px center;
    padding-right: 30px;
    transition: background-color 0.3s ease;
}

#add-job-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 37px;
    height: 37px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    transition: width 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: bold;
}

#add-job-button:hover {
    cursor: pointer;
    width: 250px;
    text-overflow: clip;
}

#add-job-button:hover::after {
    content: " Add a New Job";
}

#showStarredLabel {
    width: 30px;
    height: 30px;
    background-image: url('/assets/images/authenticated.user/feed/tile/bookmark.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-left: 5px;
}

#showStarred {
    display: none;
}

.down-arrow {
    height: 15px;
    width: 15px;
    margin-left: 5px;
}

/* Hover Effects */

.job-tile:hover {
    border: 1px solid #3A3B3C;
}

#final-add-job-button:hover,
#final-save-job-button:hover,
#remove-job-description-button:hover {
    background-color: #2E5984;
    cursor: pointer;
}

.cancel-add:hover {
    background-color: #eeeeee;
}

.job-view-subtitle:hover {
    color: #187bcd;
    border-bottom: 1px solid #187bcd;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #808080;
}

.page-number {
    margin: 0 5px;
    padding: 5px 10px;
    height: 16px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}

.page-number.current {
    background-color: #7C8BDD;
    color: white;
}

.page-number:hover {
    background-color: #dddddd;
}

#prevPage, #nextPage {
    border: none;
    background-color: inherit;
}

.pagination-arrow {
    margin-top: -8px;
    height: 30px;
    width: 30px;
}

/* Screen resizing */

@media (max-width: 600px) {
    .box {
        flex: 0 1 100%;
    }
}

@media screen and (min-width: 600px) {
    #job-tiles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    #job-tiles {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    #job-tiles {
        grid-template-columns: repeat(4, 1fr);
    }
}