/* Individual Job Pages Layout */

.base-job-info-page {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-family: Helvetica, sans-serif;
}

.page-container {
    display: flex;
    width: 100%;
}

.sidebar {
    position: sticky;
    top: 0;
    height: calc(100vh - 20px);
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    margin-bottom: -20px;
}

.extended-sidebar {
    flex: 0 0 250px;
}

.compressed-sidebar {
    flex: 0 0 60px;
}

.compressed-sidebar-icon {
    height: 20px;
    width: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
}

.sidebar li {
    padding: 0 10px 0 10px;
}

.sidebar li a {
    text-decoration: none;
    color: #333333;
    display: block;
    transition: 0.3s;
    font-size: 14px;
    padding: 10px;
}

.sidebar li a:hover, .highlight-sidebar-section {
    background-color: #dddddd;
    border-radius: 5px;
}

#backToFeedSection {
    display: flex;
    justify-content: space-between;
}

#extendedBackToFeedButton {
    padding: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

#sidebarToggle {
    width: 35px;
    height: 100%;
    padding-top: 30px;
    margin-right: 5px;
    appearance: none;
    border: none;
    background-color: white;
    background-image: url('/assets/images/common/toggle/list.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 5px center;
    transition: background-color 0.3s ease;
}

.compressed-sidebar-toggle-button-icon {
    margin-left: 10px;
}

.input {
    flex: 1;
    margin: 20px 80px;
}

/* Overview Page */

#individualJobOverview {
    background-color: white;
    border: 1px solid #EFE7DF;
    margin: 0 -60px 50px -60px;
}

#individualJobOverviewHeading {
    border-bottom: 1px solid #EFE7DF;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.individual-job-header-left {
    padding: 5px;
    margin-top: 20px;
}

.individual-job-header-left:hover {
    border: 1px solid #C2B5A8;
    padding-top:
}

.individual-job-header-middle {
    display: flex;
    justify-content: left;
    margin-top: -30px;
}

#individualJobStatusBar {
    border: none;
    margin-top: 10px;
}

.individual-job-overview-section {
    padding: 0 20px;
}

.individual-job-overview-meta p {
    color: #949494;
    font-size: 15px;
    font-weight: 300;
    min-height: 50px;
}

.individual-job-overview-section-title {
    border-top: 1px solid #EFE7DF;
    border-bottom: 1px solid #EFE7DF;
    margin: 0 -20px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.individual-job-overview-section-title-left {
    display: flex;
    justify-content: flex-start;
    min-width: 250px;
}

.individual-job-overview-section-title h3 {
    color: #8C8984;
    margin-right: 15px;
}

.edit-meta-button {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    border: none;
    font-size: 14px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding: 6px 10px 0 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.edit-meta-button:hover {
    background-color: #ebf2f6;
}

.edit-button-icon {
    height: 12px;
    width: 12px;
    margin-right: 5px;
    margin-top: 3px;
}

.edit-meta-area {
    margin-bottom: 20px;
}

.individual-job-overview-toggle-button {
    background: white;
    border: none;
    padding: none;
    margin: none;
}

.individual-job-overview-toggle-button-img {
    height: 15px;
    width: 15px;
}

.show-toggle-image, .hide-toggle-image {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    padding-top: 60px;
    width: 100%;
    height: 100%;
    appearance: none;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 5px center;
    transition: background-color 0.3s ease;
}

.show-toggle-image {
    background-image: url('/assets/images/common/toggle/show.png');
}

.hide-toggle-image {
    background-image: url('/assets/images/common/toggle/hide.png');
}

.status-current, .status-before, .status-after, .delete-job-button {
    height: 30px;
}

.status-current {
    background-color: #D3D3D3;
    color: #4c4c4c;
}

.status-before {
    background-color: #949494;
    color: #ECECEC;
}

.status-item-button {
    margin-right: 15px;
    border: none;
    background-color: inherit;
    color: inherit;
    font-weight: bold;
}

.delete-job-button, #deleteJobButton {
    background-color: #BFD7ED;
    color: #0074B7;
}

#deleteJobButton {
    border: none;
    margin-right: 15px;
    font-size: 10px;
    font-weight: bold;
    background-color: inhert;
    color: inherit;
}

.status-current, .status-before, .status-after, #deleteJobButton:hover {
    cursor: pointer;
}

.see-post-button {
    background-color: #0077B5;
    color: #fff;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    height: 10%;
    width: 100px;
    text-align: center;
    vertical-align: center;
}

.see-post-button:hover {
    background-color: #2E5984;
}

.individual-job-view-company {
    margin-top: 0px;
    font-size: 32px;
    font-weight: bold;
    color: #333333;
}

.individual-job-view-title {
    font-weight: 900;
    font-size: 20px;
    color: #333333;
    margin-right: 5px;
}

.individual-job-view-location {
    font-size: 20px;
    font-weight: 200;
}

.individual-job-view-salary {
    display: inline-block;
    max-width: 100%;
    border-radius: 5px;
    padding: 10px;
    color: #2e4a9e;
    background-color: #BDD5E7;
    font-weight: bold;
    font-size: 12px;
}

/* Documents Toggle Page */

.toggle-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.toggle-button {
    background: transparent;
    border: none;
    padding: 5px 10px;
    outline: none;
    font-size: 16px;
    transition: color 0.3s;
}

.toggle-button:hover {
    color: #555;
}

.toggle-button.active {
    text-decoration: underline;
}

.view-content {
    margin-top: 20px;
    font-size: 18px;
}

/* Screen Resizing */

@media screen and (max-width: 600px) {
    .individual-job-view-company {
        font-size: 28px;
        margin-top: 35px;
    }

    .individual-job-view-title, .individual-job-view-location {
        font-size: 18px;
    }

}

@media screen and (max-width: 768px) {
    .sidebar {
        flex: 0 0 150px;
    }

    .see-post-button {
        padding: 8px 18px;
        margin-top: 36px;
        font-size: 12px;
    }
}