/* Individual Job View */

#job-view-content {
    margin: 15px 0;
}

.job-view-title,
.job-view-subtitle {
    padding: 0 0 10px 0;
    font-weight: bold;
}

.job-view-title {
    font-size: 3.2vw;
}

.job-view-subtitle {
    font-size: 2.6vw;
}

.job-view-blank-space {
    height: 3.6vw;
}

.job-view-metadata {
    padding: 10px 0;
    display: flex;
    justify-content: left;
    font-size: 1.6vw;
}

.job-view-metadata-title {
    font-weight: bold;
    padding-right: 10px;
}

/* Files Navigation */

.directory {
    cursor: pointer;
    user-select: none;
}

.directory-header {
    display: flex;
    justify-content: flex-start;
}

.directory-title {
    font-size: 1.6vw;
}

.sub-directory {
    font-size: 1.4vw;
    text-indent: 28px;
}

.hidden {
    display: none;
}

.sub-directory {
    margin-top: 5px;
    padding-left: 20px;
}

/* Screen Scaling */

@media screen and (min-width: 900px) {
    .job-view-title {
        font-size: 30px;
    }

    .job-view-subtitle {
        font-size: 24px;
    }

    .job-view-blank-space {
        height: 36px;
    }

    .job-view-metadata {
        font-size: 14px;
    }

    .directory-title {
        font-size: 14px;
    }

    .sub-directory {
        font-size: 12px;
    }
}
