/* Individual Job Pages Layout */

.base-job-info-page {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-family: Helvetica, sans-serif;
}

.page-container {
    display: flex;
    width: 100%;
}

.sidebar {
    flex: 0 0 250px;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
}

.sidebar li {
    padding: 0 10px 0 10px;
}

.sidebar li a {
    text-decoration: none;
    color: #333333;
    display: block;
    transition: 0.3s;
    font-size: 14px;
    padding: 10px;
}

.sidebar li a:hover, .highlight-sidebar-section {
    background-color: #dddddd;
    border-radius: 5px;
}

#back-to-feed-button {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.input {
    flex: 1;
    margin: 20px 80px;
}

/* Overview Page */

.individual-job-header {
    display: flex;
    justify-content: space-between;
}

.apply-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 25px;
    height: 10%;
    width: 100px;
    text-align: center;
    vertical-align: center;
}

.apply-button:hover {
    background-color: #0056b3;
}

.individual-job-view-company {
    font-size: 28px;
    font-weight: bold;
    font-family: Arial;
    letter-spacing: -1.5px;
}

.individual-job-view-title {
    font-weight: bold;
    font-size: 32px;
    color: #333333;
    margin-top: 10px;
}

.individual-job-view-location {
    font-weight: bold;
}

.individual-job-view-salary {
    display: inline-block;
    max-width: 100%;
    border-radius: 5px;
    padding: 10px;
    color: #2e4a9e;
    background-color: #BDD5E7;
    font-weight: bold;
}

.individual-job-view-company-description {
    margin-bottom: 20px;
}

/* Documents Toggle Page */

.toggle-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.toggle-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    outline: none;
    font-size: 16px;
    transition: color 0.3s;
}

.toggle-button:hover {
    color: #555;
}

.toggle-button.active {
    text-decoration: underline;
}

.view-content {
    margin-top: 20px;
    font-size: 18px;
}

/* Screen Resizing */

@media screen and (max-width: 768px) {
    .sidebar {
        flex: 0 0 150px;
    }
}