/* General */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header & Navbar */

.header-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    background-color: white;
    border-bottom: 0.5px solid #d5d0ce;
}

.header-left {
    display: flex;
    justify-content: space-between;
}

.navbar {
  margin: 10px 50px 0 0;
  vertical-align: center;
}

.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.profile-dropbtn-content {
    padding-top: 9px;
    margin-top: 5px;
}

.profile-dropdown-container {
    position: relative;
    float: left;
    margin: -6px 0 0 0;
}

/* Navigation Elements */

.navigation-el {
  font-size: 10px;
  padding: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -6px 10px -22px 10px;
}

.navigation-el:hover,
.profile-dropdown:hover #profileDropbtn {
  color: black;
}

.navigation-el-name {
  font-size: 11px;
}

.navigation-el-icon {
  width: 25px;
  height: 25px;
}

.nav-el-underline {
  display: none;
  width: 46px;
  height: 1px;
  border: none;
  background-color: black;
  margin-top: 1px;
}

.profile-underline {
  display: none;
  width: 46px;
  height: 1px;
  border: none;
  background-color: black;
  margin-bottom: -3px;
}

/* Headers */

.main-h2,
.main-h3 {
  font-weight: 600;
}

.main-h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.main-h3 {
  font-size: 25px;
  margin-bottom: 30px;
}

/* Profile Dropdown */

.profile-dropdown {
  float: left;
  margin: -6px 0 0 0;
}

.profile-element {
    display: flex;
    justify-content: space-between;
}

.vertical-line {
  width: 1px;
  height: 65px;
  background-color: #DEDEDE;
  margin: auto 20px auto auto;
}

#profileDropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0 0 0 10px;
}

.profile-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
  margin-left: 10px;
}

.profile-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 10px;
}

.profile-dropdown-content a:hover {
  background-color: #ddd;
}

.profile-dropdown:hover .profile-dropdown-content {
  display: block;
}

/* Content */

.content {
    flex-grow: 1;
    overflow-y: auto;
    margin: 0;
}

.main-content {
  margin: 0 auto;
  width: 100%;
  font-family: 'Jost', sans-serif;
}

.input-content {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
}

.main-page {
  height: 100vh;
  margin: 20px auto;
  width: 85%;
}

/* Arrows Container */

.arrows-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-left: 2vw;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ECECEC;
}

.arrow-box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30%;
    height: 65px;
    background-color: #F5F5F5;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    text-indent: -2vw;
    color: #777777;
    line-height: 50px;
    padding: 0 10px;
    border: none;
}

.arrow-box::before, .arrow-box::after {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.arrow-left-end {
    clip-path: polygon(0% 0%, 80% 0%, 90% 50%, 80% 100%, 0% 100%);
}

.arrow-right-left {
    clip-path: polygon(0% 0%, 80% 0%, 90% 50%, 80% 100%, 0% 100%, 10% 50%);
    margin-left: -2vw;
}

.arrow-right-end {
    clip-path: polygon(0% 0%, 80% 0%, 90% 50%, 80% 100%, 0% 100%, 10% 50%);
    margin-left: -2vw;
}

/* Logos */

.logo1 {
  margin: auto auto auto 10px;
}

/* Icons */

.link-icon {
    padding: 10px;
    width: 15px;
    height: 15px;
}

/* Screen Resizing */
@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: white;
        border-top: 0.5px solid #d5d0ce;
        padding: 10px 0 0 0;
    }

    .profile-dropdown {
        position: relative;
    }

    .profile-dropdown-content {
        position: absolute;
        bottom: 100%;
        right: 0;
        z-index: 2000;
        background-color: white;
        border: 1px solid #ccc;
        width: 200px;
    }
}