/* Header & Navbar */

.header {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  background-color: white;
  border-bottom: 0.5px solid #d5d0ce;
}

.header-left {
    display: flex;
    justify-content: space-between;
}

.navbar {
  overflow: hidden;
  margin: 10px 50px 0 0;
  vertical-align: center;
}

.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.profile-dropbtn-content {
    padding-top: 9px;
}

/* Search Container */

#search, .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9eff6;
  border: none;
  border-radius: 3px;
  padding: 2px 2px 2px 2px;
  margin: auto auto;
  height: 30px;
  width: 250px;
  font-size: 13px;
  text-indent: 10px;
}

/* Navigation Elements */

.navigation-el {
  font-size: 10px;
  padding: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -6px 10px -22px 10px;
}

.navigation-el:hover,
.profile-dropdown:hover .profile-dropbtn {
  color: black;
  font-weight: bold;
}

.navigation-el-name {
  font-size: 11px;
}

.navigation-el-icon {
  width: 25px;
  height: 25px;
}

.logo1 {
  margin: auto auto auto 10px;
}

/* Profile Dropdown */

.profile-dropdown {
  float: left;
  margin: -6px 0 0 0;
}

.profile-element {
    display: flex;
    justify-content: space-between;
}

.vertical-line {
  width: 1px;
  height: 65px;
  background-color: #DEDEDE;
  margin-right: 20px;
}

.profile-dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0 0 0 10px;
}

.profile-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
  margin-left: 10px;
}

.profile-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 10px;
}

.profile-dropdown-content a:hover {
  background-color: #ddd;
}

.profile-dropdown:hover .profile-dropdown-content {
  display: block;
}

/* Navigation Pages & Content */

.content {
  padding-top: 30px;
  margin: 0;
}

.main-content {
  margin: 0 auto;
  width: 85%;
}

.input-content {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
}

.main-page {
  height: 100vh;
}

/* Headers */

.main-h2,
.main-h3 {
  font-weight: 600;
}

.main-h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.main-h3 {
  font-size: 25px;
  margin-bottom: 30px;
}

/* Icons */

.link-icon {
    padding: 10px;
    width: 15px;
    height: 15px;
}