/* Profile Pages */

/* Page Title */
#settings-title {
    margin-left: 25px;
}

/* Container */
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Left Panel */
.left-panel {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Right Section */
.right-section {
  width: 75%;
  height: 96.5%;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
  margin: 20px;
  background-color: white;
}

/* Top Part */
.top-part {
  height: 33.333%;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
  margin: 20px 20px 10px;
  background-color: white;
}

/* Bottom Part */
.bottom-part {
  height: 66.667%;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
  margin: 10px 20px 10px;
  background-color: white;
}

/* Settings Content */
.settings-content {
  padding: 20px;
  box-sizing: border-box;
}

.settings-sub-content {
  font-size: 12px;
}

.settings-opts {
  font-size: 14px;
  padding: 10px 0;
}

.settings-opts:hover {
  font-weight: bold;
}

/* Edit Container */
.edit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5px 30px 30px 30px;
}

.edit-key {
  font-weight: bold;
  width: 25%;
  text-align: right;
  padding-right: 30px;
  margin-top: 20px;
}

.edit-value {
  width: 75%;
  text-align: left;
  padding-left: 30px;
}

.edit-value-field {
  width: 70%;
  height: 20px;
}

#edit-profile-form-fields input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
}

/* Headers and Buttons */
#edit-profile-header {
  padding-bottom: 35px;
}

.profile-edit-submit-btn {
  background: #26abff;
  width: 76px;
  height: 32px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-left: 40px;
}

.settings-sidebar-opts {
  display: grid;
}
