/* Container */

.container {
  display: flex;
  width: 90%;
  height: 900px;
  margin: 0;
  padding: 0;
  background-color: white;
  margin: 20px auto;
  border: 1px solid #D3D3D3;
}

/* Left Panel */

.left-panel {
  width: 30%;
  height: 880px;
  display: flex;
  flex-direction: column;
}

/* Right Section */

.right-section {
  width: 70%;
  height: 100%;
  border-left: 1px solid #D3D3D3;
  padding: 0 30px;
}

/* Top Part */

.top-part {
  height: 33.333%;
  margin: 7%;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Bottom Part */

.bottom-part {
  height: 66.667%;
}

/* Settings Content */

#settingsTitle {
    font-weight: bold;
    font-size: 22px;
    padding: 15px;
}

.settings-content {
  padding: 20px;
  box-sizing: border-box;
}

.settings-tabs {
  box-sizing: border-box;
  padding: 0 10%;
}

.settings-sub-content {
  font-size: 12px;
}

.settings-opts {
  font-size: 14px;
  padding: 15px;
  border-radius: 10px;
}

.settings-opts:hover {
  background-color: #ECECEC;
}

.highlight-profile-sidebar {
  background-color: #ECECEC;
}

/* Edit Container */

.form-header {
    font-weight: 400;
}

.edit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5px 30px 10px 30px;
}

.edit-key {
  font-weight: 600;
  width: 25%;
  text-align: right;
  padding-right: 30px;
  margin-top: 20px;
}

.edit-value {
  width: 75%;
  text-align: left;
  padding-left: 30px;
}

.edit-value p {
  margin-left: -10px;
  width: 90%;
  font-size: 12px;
  color: #949494;
}

.edit-value-field {
  width: 90%;
  height: 20px;
  margin-left: -50px;
  margin-right: 20px;
}

#editProfileFormFields {
    margin-left: -10%;
}

#editProfileFormFields input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
}

/* Headers and Buttons */

.profile-edit-submit-btn {
  background: #7091AD;
  width: 76px;
  height: 32px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-left: -10px;
}

.settings-sidebar-opts {
  display: grid;
}

/* Screen Sizing */

@media only screen and (max-width: 650px) {
    #settingsAccountsCenterTitle, .settings-opts {
        font-size: 12px;
    }

    .settings-sub-content {
        font-size: 8px;
    }
}
