/* Titles */

.form-header {
    padding: 20px 0 10px 0;
}

/* Resume Upload */

.form-container {
  width: 50%;
}

.input-container {
  margin-bottom: 16px;
}

.file-input {
  width: 100%;
  font-family: Arial, sans-serif;
}

.submit-container {
  margin-top: 16px;
}

.submit-button {
  background-color: #0073b1;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

/* Stack */

.resume-stack {
  font-family: Arial, sans-serif;
  background-color: #f3f6f8;
}

/* Tile */

.resume-tile {
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  padding: 20px 20px 50px 20px;
  margin-bottom: 16px;
}

.resume-tile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  color: #333333;
  font-weight: 600;
}

.resume-tile:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.resume-tile h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.resume-name,
.resume-upload-date {
  color: #333333;
  font-size: 14px;
}

.resume-upload-date {
  padding-bottom: 20px;
}

/* Buttons in Tiles */

.resume-tile button,
.resume-tile a {
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resume-tile button {
  background-color: transparent;
}

.resume-tile a {
  background-color: #0073b1;
}

.resume-tile a:hover {
  background-color: #2E5984;
}

/* Stored Resume */

.stored-resume {
    box-sizing: border-box;
    height: 500px;
    width: 100%;
}

/* Download Button */

.download-resume-button {
  background-color: #0073b1;  /* Blue background */
  color: #ffffff;  /* White text */
  border: none;  /* Remove default borders */
  border-radius: 15px;  /* Rounded corners */
  padding: 10px 20px;  /* Padding around text */
  font-size: 16px;  /* Text size */
  text-align: center;  /* Center-align text */
  cursor: pointer;  /* Hand cursor on hover */
  transition: background-color 0.3s ease, transform 0.3s ease;  /* Transition effects */
  margin-top: 20px;
  width: 100%;
}

.download-resume-button:hover {
  background-color: #0056d6;  /* Slightly darker blue on hover */
}

.download-resume-button:active {
  transform: scale(0.95);  /* Slightly reduce size when clicked */
}

/* Delete Button */

.trash-icon {
  width: 18px;
  height: 18px;
}
