/* Layout */

.content {
    display: flex;
    padding: 30px auto 50px auto;
}

.statistics-view {
    padding: none;
    margin: none;
}

#status-percentages-container {
    margin: 50px auto;
}

/* Sections */

.section {
    text-align: left;
    padding: 80px 30px;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    margin-left: -7.5vw;
    margin-right: -7.5vw;
}

.section:hover {
    font-weight: bold;
}

.section-title {
    font-size: 38px;
    color: #333333;
}

.subsection {
    font-size: 28px;
}

#section-1 {
    background-color: #D6D4D2;
}

#section-2, #section-5 {
    background-color: white;
}

#section-3 {
    background-color: #f6f0e8;
}

#section-4 {
    background-color: #F5F5F5;
}