@(title: String)(content: Html)

@base(title) {
    <div class="intro">
        <div id="header">
            <img src="@routes.Assets.versioned("images/logo1.png")" class="logo1">
            <a href="@routes.AuthenticatedUserController.logout()" id="logout-btn">logout</a>
        </div>
        <ul class="navigation-bar">
            <li><a class="navigation-el" href="@routes.HomeController.home()">Home</a></li>
            <li><a class="navigation-el" href="@routes.HomeController.feed()">Job Feed</a></li>
            <li><a class="navigation-el" href="@routes.HomeController.network()">Network</a></li>
            <li><a class="navigation-el" href="@routes.HomeController.jobStats()">Search Statistics</a></li>
        </ul>
    </div>
    <div class="footer">
        <p>2023 Job Hunter, LLC</p>
        <p>Do not sell or share my information</p>
    </div>
    @* Content goes here *@
    @content
}