/* Header */
.header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-button {
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
}

.header-join {
    color: #5A5A5A;
    font-weight: bold;
}

.header-sign-in {
    color: #0073b1;
    border: 1px solid #0073b1;
    font-weight: bold;
    width: 55px;
}

/* Content */

.content {
    display: flex;
    padding: 30px auto 50px auto;
    background-color: white;
}

.content-left {
    text-align: left;
    margin: -50px auto auto 15px;
    left: 0;
    width: 55%;
}

/* Main Login Form */

.login-form {
    margin-left: 10px;
}

.form-descriptor {
    font-size: 13px;
    font-weight: bold;
    color: #444444;
}

.username, .password {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: -5px;
    margin-left: -40px;
    margin-bottom: 12px;
    width: 70%;
    height: 50px;
}

.login-button {
    background-color: #2a9df4;
    margin: 10px 0 20px 0;
    width: 66%;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/* Text and Titles */

.slogan {
    padding: 10px;
    font-size: 42px;
    font-weight: lighter;
    color: #808080;
    margin-bottom: 20px;
}

/* Sections */

.section-title {
    font-size: 38px;
    color: #333333;
    padding: 0 0 30px 0;
}

.section-info {
    font-size: 20px;
    color: #444444;
}

.subsection {
    padding: 20px;
}

.subsection:first-child {
    flex: 4;  /* Takes up 1/3 */
    margin-right: 10px;
}

.subsection:last-child {
    flex: 6;  /* Takes up 2/3 */
    margin-left: 10px;
}

.section, #router {
    text-align: left;
    padding: 50px 30px;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
}

.content-gap {
    height: 5vh;
    background-color: white;
}

/* Section Background Colors */

#section1 {
    background-color: #D6D4D2;
}

#section2, #section5 {
    background-color: white;
}

#section3 {
    background-color: #f6f0e8;
}

#section4, #router {
    background-color: #F5F5F5;
}

/* Bottom Router */

.route-header {
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin: 10px 0;
}

.route-field {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #5A5A5A;
}

.router-section {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.router-section:first-child {
    flex: 1;
    margin-right: 10px;
}

.router-section:last-child {
    flex: 3;
    margin-left: 30px;
}

#routerHeader {
    margin-right: 30px;
}

/* Miscellaneous */

.or-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: 30px;
}

.split-line {
    width: 30%;
    height: 1px;
    background-color: grey;
}

.or-text {
    font-size: 14px;
    margin: 0 15px;
}

#joinNowButton {
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 30px;
    border: 1px solid #5A5A5A;
    background-color: white;
    width: 66%;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: #5A5A5A;
}

.forgot-password-button {
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding-left: 14px;
    background: white;
    color: #2a9df4;
}


/* Images */

#welcomeImg {
    right: 0;
    width: 45%;
    height: 45%;
    margin: 100px 30px 15px 10px;
}

/* Hover Effects */

.login-button:hover {
    background-color: #187bcd;
}

.forgot-password-button:hover {
    text-decoration: underline;
    color: #187bcd;
}

#joinNowButton:hover, .header-join:hover, .username:hover, .password:hover {
    background-color: #F5F5F5;
}

.header-sign-in:hover {
    background-color: #ecf5ff;
}

/* Screen Resizing */

@media only screen and (max-width: 664px) {
    .content {
        display: block;
    }

    .content-left {
        margin-bottom: -80px;
    }

    .slogan {
        width: 400px;
    }

    .username, .password {
        width: 400px;
        height: 50px;
    }

    .login-button, #joinNowButton {
        width: 405px;
    }

    .or-container {
        justify-content: center;
        width: 405px;
    }

    .split-line {
        width: 200px;
        height: 1px;
        background-color: grey;
    }

    .or-text {
        font-size: 14px;
        margin: 0 15px;
    }

    #welcomeImg {
        visibility: hidden;
        height: 0px;
    }
}
