.header {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    background: white;
}

.navbar {
  overflow: hidden;
  margin: 10px 50px 0 0;
}

.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation-el {
    font-size: 10px;
    padding: 10px;
    border: none;
}

.navigation-el:hover, .profile-dropdown:hover .profile-dropbtn {
    color: black;
    font-weight: bold;
}

.profile-dropdown {
  float: left;
  overflow: hidden;
}

.profile-dropdown .profile-dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 15.5px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.profile-dropbtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 113px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 1;
}

.profile-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.profile-dropdown-content a:hover {
  background-color: #ddd;
}

.profile-dropdown:hover .profile-dropdown-content {
  display: block;
}

/* Navigation Pages */

.content {
    background-color: #FAF5EF;
    padding-top: 30px;
    margin: 0;
}

.main-content {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

.input-content {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}

.main-h2 {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 600;
}

.main-h3 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 600;
}