@(
form: Form[careercanvas.io.model.user.UserPublicLoginInfo],
postUrl: Call
)(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password | Career Canvas</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/user/loginSignUp.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/common.css")">
</head>
<body>
<div class="user-login-signup">
    <img src="@routes.Assets.versioned("images/logos/logo2.png")" class="logo2">
    <p class="slogan">Forgot password.</p>
    <hr class="login-signup-div">
    <div class="forgot-password-form">
        @request.flash.data.map{ case (name, value) =>
            @if(name.equals("error")) {
                <div class="error-flash">@value</div>
            } else if (name.equals("success")) {
                <div class="success-flash">@value</div>
            } else {
                <div class="info-flash">@value</div>
            }
        }

        @* Global errors are not tied to any particular form field *@
        @if(form.hasGlobalErrors) {
            @form.globalErrors.map { error: FormError =>
                <div>
                    Error: @error.key: @error.message
                </div>
            }
        }

        @helper.form(postUrl, 'class -> "forgot-password-form-fields") {

        @helper.CSRF.formField

        @helper.inputText(
            form("email"),
            '_label -> "",
            'placeholder -> "Email",
            'class -> "email",
            'size -> 60,
            '_showConstraints -> false
        )

        <button class="send-reset-password-link-button">Send Reset Password Link</button>
        }

    </div>
    <hr class="login-signup-div">
    <a href="@routes.LandingController.showLoginForm" class="log-in">Log in</a>
</div>
</body>
</html>