@(
form: Form[careercanvas.io.model.user.UserPublicLoginInfo],
postUrl: Call
)(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password | Career Canvas</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/user/loginSignUp.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/landing/welcome.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/common.css")">
</head>
<body class="forgot-password-page">
<div class="forgot-password-header">
    <img src="@routes.Assets.versioned("images/logos/logo2.png")" class="logo2">
    <div>
        <div class="blank-space"></div>
        <div class="header-buttons">
            <a class="header-button header-join" href="@routes.LandingController.showSignUpForm()">Join Now</a>
            <a class="header-button header-sign-in" href="@routes.LandingController.showLoginForm()">Sign In</a>
        </div>
    </div>
</div>
<div class="forgot-password-container">
    <div class="forgot-password-content">
        <p id="forgot-password-title">Forgot password?</p>
        <p id="forgot-password-subtitle">Reset password in two quick steps</p>
        <div class="forgot-password-form">
            @request.flash.data.map{ case (name, value) =>
            @if(name.equals("error")) {
            <div class="error-flash">@value</div>
            } else if (name.equals("success")) {
            <div class="success-flash">@value</div>
            } else {
            <div class="info-flash">@value</div>
            }
            }

            @* Global errors are not tied to any particular form field *@
            @if(form.hasGlobalErrors) {
            @form.globalErrors.map { error: FormError =>
            <div>
                Error: @error.key: @error.message
            </div>
            }
            }

            @helper.form(postUrl, 'class -> "forgot-password-form-fields") {

            @helper.CSRF.formField

            @helper.inputText(
            form("email"),
            '_label -> "",
            'placeholder -> "Email",
            'class -> "email",
            'size -> 60,
            '_showConstraints -> false
            )

            <button class="reset-password-button">Send Reset Password Link</button>
            }

        </div>
        <a href="@routes.LandingController.showWelcomePage()" class="back-button">Back</a>
    </div>
</div>
</body>
</html>