@(
    form: Form[model.forms.SetNewPasswordForm],
    postUrl: Call
)(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Forgot Password | Career Canvas</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/user/loginSignUp.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/landing/welcome.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/common.css")">
    </head>
    <body class="forgot-password-page">
        <div class="forgot-password-header">
            <img src="@routes.Assets.versioned("images/logos/logo2.png")" class="logo2">
            <div>
                <div class="blank-space"></div>
                <div class="header-buttons">
                    <a class="header-button header-join" href="@routes.LandingController.showSignUpForm()">Join Now</a>
                    <a class="header-button header-sign-in" href="@routes.LandingController.showLoginForm()">Sign In</a>
                </div>
            </div>
        </div>
        <div class="set-new-password-container">
            <div class="set-new-password-content">
                <p id="set-new-password-title">Choose a new password</p>
                <div id="set-new-password-subtitle">
                    To secure your account, choose a strong password you haven't used before and is at least 8 characters long.
                </div>
                <div class="set-new-password-form">
                    @request.flash.data.map{ case (name, value) =>
                        @if(name.equals("error")) {
                            <div class="error-flash">@value</div>
                        } else if (name.equals("success")) {
                            <div class="success-flash">@value</div>
                        } else {
                            <div class="info-flash">@value</div>
                        }
                    }

                    @* Global errors are not tied to any particular form field *@
                    @if(form.hasGlobalErrors) {
                        @form.globalErrors.map { error: FormError =>
                            <div>
                                Error: @error.key: @error.message
                            </div>
                        }
                    }

                    @helper.form(postUrl, 'class -> "set-new-password-form-fields") {

                        @helper.CSRF.formField

                        @helper.inputText(
                            form("newPassword"),
                            '_label -> "",
                            'placeholder -> "New password",
                            'class -> "new-password",
                            'size -> 60,
                            '_showConstraints -> false
                        )

                        @helper.inputText(
                            form("confirmNewPassword"),
                            '_label -> "",
                            'placeholder -> "Retype new password",
                            'class -> "confirm-new-password",
                            'size -> 60,
                            '_showConstraints -> false
                        )

                        <button class="set-new-password-submit-button">Submit</button>
                    }
                </div>
            </div>
        </div>
    </body>
</html>