@(
form: Form[careercanvas.io.model.user.User],
postUrl: Call
)(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
        <div class="user-login-signup">
            <img src="@routes.Assets.versioned("images/logos/logo2.png")" class="logo2">
            <p class="slogan">Sign up to simplify the job search.</p>
            <hr class="login-signup-div">
            <div class="user-login-signup-form">
                @request.flash.data.map{ case (name, value) =>
                    @if(name.equals("error")) {
                        <div class="error-flash">@value</div>
                    } else if (name.equals("success")) {
                        <div class="success-flash">@value</div>
                    } else {
                        <div class="info-flash">@value</div>
                    }
                }

                @* Global errors are not tied to any particular form field *@
                @if(form.hasGlobalErrors) {
                    @form.globalErrors.map { error: FormError =>
                        <div>
                            Error: @error.key: @error.message
                        </div>
                    }
                }

                @helper.form(postUrl, 'class -> "user-login-signup-form-fields") {

                @helper.CSRF.formField

                @helper.inputText(
                    form("fullName"),
                    '_label -> "",
                    'placeholder -> "full name",
                    'class -> "fullName",
                    'size -> 60,
                    '_showConstraints -> false
                )

                @helper.inputText(
                    form("username"),
                    '_label -> "",
                    'placeholder -> "email",
                    'class -> "username",
                    'size -> 60,
                    '_showConstraints -> false
                )

                @helper.inputPassword(
                    form("password"),
                    '_label -> "",
                    'placeholder -> "password",
                    'class -> "password",
                    'size -> 60,
                    '_showConstraints -> false
                )

                <button class="login-signup-btn">Sign up</button>
                }

            </div>
            <hr class="login-signup-div">
            <p class="terms-note">By signing up, you agree to our <a href="@routes.PolicyController.showTermsOfUse()">Terms</a>, <a href="@routes.PolicyController.showPrivacyPolicy()">Privacy Policy</a> and <a href="@routes.PolicyController.showCookiesPolicy">Cookies Policy</a>.</p>
        </div>
        <div class="switch-up">
            <p class="switch-up-txt">Have an account? <a href="@routes.UserController.showLoginForm()" class="switch-up-btn">Log in</a></p>
        </div>
    </body>
</html>