@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/authenticated.user/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/authenticated.user/feed.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/authenticated.user/job.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/authenticated.user/responses.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/authenticated.user/statistics.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/authenticated.user/profile.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/authenticated.user/resume.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/common.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/logos/logo1.png")">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@@100;200;300;400;500;700&family=Jost:wght@@200;300;400;500;600;700;800;900&family=Nanum+Gothic&display=swap" rel="stylesheet">
    </head>
    <body>
            <div class="header-container">
                <div class="header">
                    <div class="header-left">
                        <a href="@routes.JobFeedController.showJobFeedHome()"><img src="@routes.Assets.versioned("images/logos/logo1.png")" class="logo1"></a>
                    </div>
                    <div class="navbar">
                        <a class="navigation-el" href="@routes.JobFeedController.showJobFeedHome()">
                            <img src="@routes.Assets.versioned("images/authenticated.user/feed/navbar/job.png")" class="navigation-el-icon">
                            <p class="navigation-el-name">Job Feed</p>
                            <hr class="nav-el-underline" id="jobFeedNavUnderline">
                        </a>
                        <a class="navigation-el" href="@routes.JobStatisticsController.showJobStats()">
                            <img src="@routes.Assets.versioned("images/authenticated.user/feed/navbar/statistics.png")" class="navigation-el-icon">
                            <p class="navigation-el-name">Statistics</p>
                            <hr class="nav-el-underline" id="statisticsNavUnderline">
                        </a>
                        <div class="profile-dropdown-container">
                            <div class="profile-dropdown">
                                <div class="profile-element">
                                    <div class="vertical-line"></div>
                                    <button id="profileDropbtn">
                                        <div class="profile-dropbtn-content">
                                            <img src="@routes.Assets.versioned("images/authenticated.user/feed/navbar/profile.png")" class="navigation-el-icon">
                                            <p class="navigation-el-name">Profile</p>
                                            <hr class="profile-underline" id="profileNavUnderline">
                                        </div>
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                                <div class="profile-dropdown-content">
                                    <a href="@routes.ProfileController.editProfile()">Edit Profile</a>
                                    <a href="@routes.ProfileController.logout()">Log Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="main-content">
                    <div class="input-content">
                        @* Content goes here *@
                        @content
                    </div>
                </div>
            </div>
    </body>
</html>