@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/authenticated.user/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/authenticated.user/jobFeed.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/authenticated.user/profile.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/authenticated.user/resume.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/common.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/logos/logo1.png")">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    </head>
    <body>
            <div class="intro">
                <div class="header">
                    <img src="@routes.Assets.versioned("images/logos/logo1.png")" class="logo1">
                    <div class="navbar">
                        <a class="navigation-el" href="@routes.JobFeedController.showJobFeedHome()">Job Feed</a>
                        <a class="navigation-el" href="@routes.JobStatisticsController.showJobStats()">Search Statistics</a>
                        <div class="profile-dropdown">
                            <button class="profile-dropbtn">
                                Profile
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="profile-dropdown-content">
                                <a href="@routes.ProfileController.editProfile()">Edit Profile</a>
                                <a href="@routes.ProfileController.logout()">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="main-content">
                    <div class="input-content">
                        @* Content goes here *@
                        @content
                    </div>
                </div>
            </div>
    </body>
</html>