@(title: String)(content: Html)

@base(title) {
    <div class="navigation-page">
        @navigationHeader {
            <a href="@routes.AuthenticatedUserController.logout()" id="logout-btn">logout</a>
        } {
            <li><a class="navigation-el" href="@routes.AuthenticatedUserController.showHome()">Home</a></li>
            <li><a class="navigation-el" href="@routes.CalendarController.showHomeCalendar()">Calendar</a></li>
            <li><a class="navigation-el" href="@routes.JobFeedController.showJobFeedHome()">Job Feed</a></li>
            <li><a class="navigation-el" href="@routes.JobStatisticsController.showJobStats()">Search Statistics</a></li>
        }
        <div class="main-content">
            <div class="input-content">
                @* Content goes here *@
                @content
            </div>
            @footer()
        </div>
    </div>
}