@(title: String)(content: Html)

@base(title) {
    <div class="navigation-page">
        @navigationHeader {
            <div class="navbar">
                <div class="profile-dropdown">
                    <button class="profile-dropbtn">
                        <img src="@routes.Assets.versioned("images/help-center/user.svg")" class="profile">
                        Profile
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="profile-dropdown-content">
                        <a href="@routes.ProfileController.editProfile()">Edit Profile</a>
                        <a href="@routes.ProfileController.logout()">Log Out</a>
                    </div>
                </div>
            </div>
        } {
            <li><a class="navigation-el" href="@routes.HomeController.showHome()">Home</a></li>
            <li><a class="navigation-el" href="@routes.JobFeedController.showJobFeedHome()">Job Feed</a></li>
            <li><a class="navigation-el" href="@routes.JobStatisticsController.showJobStats()">Search Statistics</a></li>
        }
        <div class="main-content">
            <div class="input-content">
                @* Content goes here *@
                @content
            </div>
            @footer()
        </div>
    </div>
}