@(title: String)(content: Html)

@base(title) {
<div class="navigation-page">
    @navigationHeader {
        <a href="@routes.UserController.showLoginForm()" id="login-btn">login</a>
    } {
        <li><a class="navigation-el" href="@routes.LandingController.showWelcomePage()">Welcome</a></li>
        <li><a class="navigation-el" href="@routes.LandingController.showAboutPage()">About</a></li>
    }
    <div class="landing-main-content">
        <div class="landing-input-content">
            @* Content goes here *@
            @content
        </div>
        @footer()
    </div>
</div>
}