@main("About") {
    <div id="about">
        <h2 class="main-h2">Welcome to Career Canvas - Your Personal Job Search Organizer</h2>
        <p>Venture into your job search with confidence with Career Canvas! We are here to coordinate your job search journey,
            provide you with insightful statistics about your applications, and present your interview outcomes, empowering
            you to make effective career decisions.
        </p>
        <br>

        <h3 class="main-h3">
            Streamline Your Job Search
        </h3>
        <p>
            Bogged down with disorganized job applications? Frustrated with multiple job boards? Worry no more! With
            Career Canvas, all your job search activities are neatly organized in one user-friendly platform. Our intelligent
            systems analyze your job preferences to present the most suitable opportunities in a simple and orderly manner.
        </p>
        <br>

        <h3 class="main-h3">
            Efficient Application Tracking
        </h3>
        <p>
            Applying to multiple jobs can be overwhelming - but not with Career Canvas! Our platform allows you to maintain a
            comprehensive career profile, helping you track your applications. Easily follow up on your application
            statuses from the comfort of your personalized dashboard.
        </p>
        <br>

        <h3 class="main-h3">
            Automated Cover Letter Writing and Resume Editing
        </h3>
        <p>
            Navigating the complexities of crafting the perfect cover letter and refining your resume can be daunting. With
            Career Canvas's tools, you can effortlessly generate personalized, compelling cover letters and dynamically edit
            your resume to align with each job of interest. Emphasize your unique strengths and demonstrate why you're the
            ideal candidate for the job.
        </p>
        <br>

        <h3 class="main-h3">
            Smart Networking Message Automation
        </h3>
        <p>
            We understand the importance of networking in job hunting. Career Canvas helps you connect with your professional
            contacts by automating the process of writing networking messages. Based on your relationship level with your
            connections, our smart system tailors the tone and content of the message to maximize your networking potential.
        </p>
        <br>

        <h3 class="main-h3">
            Data-Driven Insights On Your Applications
        </h3>
        <p>
            Stay informed and strategize better with real-time insights on your job applications. Uncover vital statistics
            such as your application-to-interview ratio and average response times. Utilize this data to refine your job
            search strategy and enhance your chances of landing the perfect job.
        </p>
        <br>

        <h3 class="main-h3">
            Join Our Growing Community
        </h3>
        <p>
            Become part of the Career Canvas community, to organize your job search efficiently and effectively. With
            Career Canvas, you're not just applying to jobs - you're strategizing a fulfilling career.
        </p>
        <p>
            Embark on your career journey with Career Canvas. <a href="@routes.UserController.showSignUpForm()" class="signup">Sign up</a> for free today!
        </p>
        <br>
    </div>
}