@main("Welcome to Career Canvas") {
    <div class="welcome-header">
        <img src="@routes.Assets.versioned("images/logos/logo2.png")" class="logo2">
        <div class="welcome-buttons">
            <button class="welcome-button welcome-join">Join Now</button>
            <button class="welcome-button welcome-sign-in">Sign In</button>
        </div>
    </div>
    <div id="welcome-page">
        <div id="welcome-left">
            <p id="welcome-slogan">Welcome to your job search organization</p>
        </div>
        <img src="@routes.Assets.versioned("images/landing/welcome.png")" id="welcome-img">
    </div>
    <div class="welcome-section" id="welcome-section-1">
        <div class="subsection">
            <div class="welcome-section-title">Streamline Your Job Search</div>
            <div class="welcome-section-info">
                With Career Canvas, all your job search activities are neatly organized in one user-friendly platform.
            </div>
        </div>
        <div class="subsection"></div>
    </div>
    <div class="welcome-section" id="welcome-section-2">
        <div class="subsection">
            <div class="welcome-section-title">Efficient Application Tracking</div>
            <div class="welcome-section-info">
                Applying to multiple jobs can be overwhelming - but not with Career Canvas! Our platform allows you to
                maintain a comprehensive career profile, helping you track your applications.
            </div>
        </div>
        <div class="subsection"></div>
    </div>
    <div class="welcome-section" id="welcome-section-3">
        <div class="subsection">
            <div class="welcome-section-title">Automated Cover Letter Writing</div>
            <div class="welcome-section-info">
                Navigating the complexities of crafting the perfect cover letter can be daunting. With
                Career Canvas's tools, you can effortlessly generate personalized, compelling cover letters and dynamically edit
                them to align with each job of interest.
            </div>
        </div>
        <div class="subsection"></div>
    </div>
    <div class="welcome-section" id="welcome-section-4">
        <div class="subsection">
            <div class="welcome-section-title">Data-Driven Insights on Your Applications</div>
            <div class="welcome-section-info">
                Stay informed and strategize better with real-time insights on your job applications. Uncover vital
                statistics such as your application-to-interview ratio and average response times. Utilize this data to
                refine your job search strategy and enhance your chances of landing the perfect job.
            </div>
        </div>
        <div class="subsection"></div>
    </div>
    <div class="welcome-section" id="welcome-section-5">
        <div class="subsection">
            <div class="welcome-section-title">Join Our Growing Community</div>
            <div class="welcome-section-info">
                Become part of the Career Canvas community, to organize your job search efficiently and effectively. With
                Career Canvas, you're not just applying to jobs - you're strategizing a fulfilling career.
            </div>
        </div>
        <div class="subsection"></div>
    </div>
}